body {
    background-color: #F1F3F3;
    margin: 0;
}

  #navbar {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 13;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:white;
    justify-content: start;
  }

  #logoContainer{
    display:flex;
    align-content: start;
    margin-left: 5px;
    color: #50A990;
    font-weight: bolder;
  }
  #navButtons{
    margin-left: auto;
    margin-right: 5px;
  }

  #container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
  }

  .cart {
    grid-row-start: 6;
    grid-row-end: 8;
    grid-column-start: 4;
    grid-column-end: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  #cart-text1 {
    display: none;
  }

  .bottom-cart {
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 4;
    grid-column-end: 10;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #001748;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid black;
  }

#btn-purchase {
    background-color: #50A990;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    border-color: #50A990;
    border-width: 1px;
    color: white;
    
}

  .content-bottom {
    grid-row-start: 9;
    grid-row-end: 13;
    grid-column-start: 1;
    grid-column-end: 13;
    display: flex;
    background-color: #F1F3F3;
    border: 1px solid black;
  }